{
  "parser": "babel-eslint",
  "extends": "eslint",
  "rules": {
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "indent": ["error", 2],
    "no-console": ["error", { allow: ["error"] }],
    "no-undef": "off",
    "no-shadow": "off",
    "quotes": ["error", "single"],
    "valid-jsdoc": "off"
  }
}
